*{
    border:0;
    margin:0;
    padding: 0;
}
html,
body{
    height: 100%;
}
#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.row{
    display: flex;;
    flex-grow: 1;
}
.box{
    flex-grow: 1;
    border: solid;

}
#header{
    display: flex;
    align-items: center;
    border:solid;
    color:cornflowerblue;
    border-width: 5px;
}
input{
    padding: 1px;
    border:solid;
    border-color: cornflowerblue;
    width: 30px;
    margin-right: 10px;
    
}
button{
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    height: 30px;
    background-color: grey;
    border-radius: 10%;
    font-size: 14px;
    font-weight: bolder;
    background-color: cornflowerblue;
    margin: 10px;
}
#resetButton{
    background-color: crimson;
}
h1{
    margin-right: auto;
    color:cornflowerblue;
    font-weight: bolder;
    padding: 10px;
}
.colored{
    background-color:var(--text-color,cornflowerblue);
}
